.event_card {
  @include flex(column, flex-start, normal);
  min-width: 320px;
  max-width: 400px;
  min-height: 135px;
  gap: 15px;

  &_year {
    color: rgba(56, 119, 238);
    font-size: 25px;
  }

  &_description {
    @include truncate-lines();
    font-size: 20px;
    color: rgba(66, 86, 122);
  }
}